body {
  padding: 20px 0;
}

.smasher-container {
  border: 3px solid yellow;
  position: relative;
  width: 691px;
  height: 185px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.canvas {
  position: absolute;
  top: 0;
}

.form {
  padding: 20px;
}